/*1.
h1 {
	font-size: 80px;
}
*/



/*2.
header{
	color: red;
}

header h1,
footer h1{
	color: blue;
}

header p,
footer p{
	color: green;
}
*/

/*
footer h1{
	color: blue;
}

footer p{
	color: green;
}
*/



/*3.
h1 {
	color: red;
}

#test1 {
	color: blue;
}

.test2 {
	color: green;
}

input[type="text"] {
	border: solid 10px red;
}

input[type="password"] {
	border: solid 10px blue;
}
*/



/*4.
.bg-1 {
	background-color: red;
}

.bg-1 {
	font-size: 50px;
}

#color-1 {
	color: red;
}

#font-style-1 {
	font-style: italic;
}
*/



/*5.
#intro h2 {
	color: red;
}

#intro .container p {
	color: blue;
}
*/



/*6.
#color-2 {
	color: pink;
}

.color-1 {
	color: green;
}

h1 {
	color: red;
}

h1 {
	color: blue;
}
*/



/*7.
#intro .container h1{
	color: pink;
}

#intro div h1{
	color: green;
}

#intro h1{
	color: blue;
}

header h1{
	color: red;
}
*/



/*8.
div {
	width: 100%;
	height: 300px;
	min-width: 600px;
	max-width: 800px;

	border: solid 10px red;
	border-radius: 50px;

	background-color: yellow;

	opacity: 0.5;
}

h1 {
	color: blue;
	font-size: 80px;
	font-style: initial;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	text-decoration: line-through;
	text-align: center;

	background-color: pink;
}

ul {
	list-style: none;
}
*/



/*9.
#bg {
	width: 100px;
	height: 100px;
	background-color: yellow;
	background-image: url(icon.png);
	background-repeat: no-repeat;
	background-position:  right bottom;
}
*/